@import '../../scss/colors';

.button {
    border: none;
    border-radius: 0;

    padding: 0.6em 1.2em;

    min-width: 150px;
    min-height: 56px;

    font-size: 14px;
    font-weight: normal;
    font-family: inherit;
    color: $showtime-white;
    text-align: center;

    cursor: pointer;
}

.button-primary.--rolezeiro {
    background: $rolezeiro-pink;
    transition: ease-in-out .5s;
}

.button-primary.--rolezeiro:hover {
    background: $rolezeiro-pink-hover;
    transition: ease-in-out .5s;
}

.button-primary.--anunciante{
    background: $anunciante-blue;
    transition: ease-in-out .5s;
}

.button-primary.--anunciante:hover {
    background: $anunciante-blue-hover;
    transition: ease-in-out .5s;
}