@import '../../scss/colors';

@mixin mobile-page-spacing {
    padding: 0 40px;

    box-sizing: border-box;
}

.home-anunciante {
    width: 100vw;
    min-height: 100%;

    background: $showtime-white;

    display: flex;
    flex-direction: column;

    .home-anunciante__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: $anunciante-blue;

        height: 5em;

        @include mobile-page-spacing();

        color: $showtime-white;
    }

    .home-anunciante__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;

        @include mobile-page-spacing();

        .content__title {
            width: 100%;

            box-sizing: border-box;

            margin: 2em 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            justify-items: center;

            h1 {
                font-size: 24px;

                margin-bottom: 1em;
            }

            p {
                max-width: 350px;

                margin-bottom: 2em;
            }

            .title__button-wrapper {
                justify-self: center;
            }
        }

        .content__events {
            display: grid;
            gap: 5em;

            margin-bottom: 5em;
        }

        @media (min-width: 850px) {
            .content__events {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width: 1300px) {
            .content__events {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}