@import '../../scss/colors';

.startup {
    margin: 0;
    padding: 0 2.5em;

    height: 100vh;

    background-color: $rolezeiro-pink;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    .startup__title {
        text-align: center;

        font-size: 23px;
        font-weight: bold;
        color: $showtime-white;
        white-space: nowrap;

        padding-top: 41px;
    }

    .startup__welcome-section {
        margin-top: 2.7em;
        
        width: 100vw;
        height: 100vh;
        
        background: $showtime-white;

        border-radius: .5em .5em 0 0;

        box-shadow: 0px 15px 30px 21px rgba(0, 0, 0, 0.25);
        
        .welcome-section__text {
            margin-top: 3em;
            padding: 0 2.5em;
            
            h1 {
                font-size: 32px;
            }

            p {
                font-weight: bold;
                font-size: 15px;
                
                margin-top: .5em;
            }
        }
        
        .welcome-section__buttons {
            margin-top: 3em;
            padding: 0 2.5em;

            display: flex;
            justify-content: space-between;


        }
    }
}