@import '../../scss/colors';

@mixin mobile-page-spacing {
    padding: 0 40px;

    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5em;
    width: 100%;

    @include mobile-page-spacing();

    color: $showtime-white;

    .header__go-back {
        cursor: pointer;
    }

    .header__navigate_option {
        all: unset;

        cursor: pointer;
    }
}

.header--anunciante {
    background: $anunciante-blue;
}

.header--rolezeiro {
    background: $rolezeiro-pink;
}