#loading {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;


    color: #fff;
    font-size: 30px;

    background: #00000074;

    z-index: 10;
}