@import '../../scss/colors';

.swipeable {
    width: fit-content;
}

.swipeable__carousel {

    margin-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .carousel__inner {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 60vw;
        height: 60vw;
    }

    .inner__image {
        position: absolute;

        .inner__image__selected {
            -moz-box-shadow: 0 0 70px #ffffffdf;
            -webkit-box-shadow: 0 0 70px #ffffffdf;
            box-shadow: 0 0 70px #ffffffdf;
        }

        .inner__image__unselected {
            transition: ease-out .5s;

            filter: blur(3px);
            -webkit-filter: blur(3px);
        }

        img {
            display: block;

            object-fit: cover;

            width: 230px;
            height: 230px;

            border-radius: 1em;
        }
    }

    .carousel__sliders {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        margin-top: 36px;

        width: 70%;

        .button-container__button--selected {
            width: 50px;
            height: 23px;

            border: none;
            border-radius: .5em;

            background-color: $showtime-white;
        }

        .button-container__button--unselected {
            width: 26px;
            height: 14px;

            border: none;
            border-radius: .25em;

            background-color: $showtime-white;
            opacity: 60%;
        }
    }
}